<section class="videos" id="videos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <h2 class="videos__title">Видео про мстителей</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12" *ngFor="let video of videos">
        <div class="video">
          <iframe width="560" height="315" [src]="video.id | youtube" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12">
        <a routerLink="/videos" routerLinkActive="active" class="button main-btn">посмотреть все</a>
      </div>
    </div>
  </div>
</section>