.side-menu{
  background-color: #0b3354;
  position: fixed;
  top: 0;
  right: 0;
  width: 9vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;

  .hawk{
    display: block;
    background-color: #4881a8;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: #25587b;
    }
  }

  .hulk{
    display: block;
    background-color: #7d50a0;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: #5a2484;
    }
  }

  .iron-man{
    display: block;
    background-color: #f5ee31;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: #b3ad0f;
    }
  }

  .thor{
    display: block;
    background-color: #3069a5;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: #394c61;
    }
  }

  .black-widow{
    display: block;
    background-color: #404041;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: #373756;
    }
  }

  .captain{
    display: block;
    background-color: #5584c4;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: #13458a;
    }
  }

  img{
    width: 100%;
    height: auto;
  }

  .side-close{
    position: absolute;
    top: 30px;
    left: -100px;
    border: 0;
    margin: 0;
    padding: 0;
    background: 0;
    width: 50px;
    height: 43px;
    opacity: 0;
    transform: translateX(200%);
    transition: all 0.3s ease-in-out;

    &__left{
      display: block;
      width: 50px;
      height: 4px;
      background-color: #ff031a;
      transform: rotate(45deg);
      position: absolute;
      top: 20px;
      left: 0;
    }

    &__right{
      display: block;
      width: 50px;
      height: 4px;
      background-color: #ff031a;
      transform: rotate(-45deg);
      position: absolute;
      top: 20px;
      left: 0;
    }
  }
}