<section class="latest-comics" id="latest-comics">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2 class="latest-comics__title">Комиксы про мстителей</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <a href="#">
                    <div class="comics">
                        <h3 class="comics__title">Avengers Assemble #08: Spring Break (Part 3):</h3>
                        <img src="../assets/img/comics1.jpeg" alt="" class="comics__img">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <a href="#">
                    <div class="comics">
                        <h3 class="comics__title">Avengers Assemble #08: Spring Break (Part 3):</h3>
                        <img src="../assets/img/comics2.jpeg" alt="" class="comics__img">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <a href="#">
                    <div class="comics">
                        <h3 class="comics__title">Avengers Assemble #08: Spring Break (Part 3):</h3>
                        <img src="../assets/img/comics3.jpeg" alt="" class="comics__img">
                    </div>
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a routerLink="/comics" routerLinkActive="active" class="button main-btn">посмотреть все</a>
            </div>
        </div>
    </div>
</section>
