<div class="banner" [@fadeInBanner]="'in'">
    <div class="banner__text">
        <h1 class="banner__title">{{title | uppercase}}</h1>
    </div>
</div>
<div class="heroes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero-wrap" *ngFor="let hero of observableHeroes | async ; let index = index"
                     [class.active]="index == 0">
                    <div class="hero {{hero.name}}">
                        <div class="hero__img">
                            <img src="{{hero.heroesIcon}}" alt="{{hero.name}}">
                        </div>
                        <div class="hero__text">
                            <div class="hero__text_title" (click)="onSelect(hero.name)">{{hero.title}}</div>
                            <div class="hero__text_description">{{hero.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="chart" id="charts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div [chart]="chart"></div>
            </div>
        </div>
    </div>
</div>
