<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <a routerLink="/" routerLinkActive="active">
                    <img src="../assets/img/logo.png" alt="" class="header__logo">
                </a>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <nav class="menu">
                    <a routerLink="/comics" routerLinkActive="active" class="menu__item">comics</a>
                    <a routerLink="/movies" routerLinkActive="active" class="menu__item">movies</a>
                    <a routerLink="/videos" routerLinkActive="active" class="menu__item">videos</a>
                    <button (click)="onNameChange('on')" id="characters" class="menu__item button main-btn"><span>heroes</span></button>
                </nav>
                <!--<audio #audioplayer src="../assets/img/music1.mp3" autoplay></audio>-->
                <button id="turn-off" (click)="changeMusic(musicOff)" class="turn-off active"></button>
                <button id="turn-on" (click)="changeMusic(musicOn)" class="turn-on"></button>
            </div>
        </div>
    </div>
</header>
