@mixin font($size:16px,$weight:400,$style:normal,$color:#000) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  color: $color;
  font-family: 'Oswald', sans-serif;
}

.header{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: #0b3354;
  box-shadow: 0 4px 4px rgba(0,0,0,0.7);

  &__logo{
    float: left;
    width: 100%;
    height: auto;
  }

  .menu{
    display: flex;
    height: 106px;
    flex-direction: row;
    justify-content: space-around;

    &__item{
      align-self: center;
      color: red;
      @include font(24px,$color:#fff);
      text-transform: uppercase;

      &.button{
        background-color: #1c1c21;
        border-color: #676767;
      }
    }
  }

  #turn-off{
    position: absolute;
    top: 34px;
    right: -15px;
    border: 0;
    background-color: transparent;
    width: 55px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    background: url("../../assets/img/mute.png")no-repeat;
    background-size: contain;
    transition: all 0.2s ease-in-out;

    &.active{
      z-index: 2;
      opacity: 1;
    }
  }

  #turn-on{
    position: absolute;
    top: 34px;
    right: -15px;
    border: 0;
    background-color: transparent;
    width: 55px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    background: url("../../assets/img/music.png")no-repeat;
    background-size: contain;
    transition: all 0.2s ease-in-out;

    &.active{
      z-index: 2;
      opacity: 1;
    }
  }
}